@mixin button_white {
    padding: .5rem 1.3rem;
    border: 0;
    background-color: #ffffff;
    font-size: 0.7rem;
    color: #111111;
    font-weight: 600;
}

@mixin button_black {
    padding: .5rem 1.3rem;
    border: 0;
    background-color: #111111;
    font-size: 0.7rem;
    color: #ffffff;
    font-weight: 600;
    width: 100%;
}

@mixin input {
    padding: .5rem 1.3rem;
    border: 0;
    background-color: #f2f2f2;
    font-size: 0.7rem;
    color: #111111;
    font-weight: 600;
    width: 100%;
}